  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0; padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* header section's style start */
.header{
    max-width: 1400px;
    background: rgba(229, 84, 115, 0.10);
   
    
}

.banner-section{
    display: flex;
    padding: 0 200px;
    align-items: center;
    justify-content: center;
    gap: 100px;

}
.banner-content-right{
    width: 50%;
    margin-bottom: -48px;
}
.banner-content-right img{
    width: 635px;
}


.banner-title{
    color: #272727;
    width: 500px;
    margin-top: 150px;
    font-weight: bold;
    
}

.banner-button{
    color: #FFFFFF;
    font-weight: 700;
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    margin-top: 10px;
    margin-bottom: 100px;
    border: none;    

}
.banner-button:hover{
    background-color: aqua;
}

/* Featured section start */
.featured{
    max-width: 1400px;
    background: #fff;
}
.feature-title{
    width: 594px;
    color: #272727;
    text-align: center;
    line-height: 30px;
    margin: 0 auto;
    margin-top: 130px;
}

.flowers-name{
    display: flex;
    justify-content: space-evenly;
    margin: 0 50px;
    padding: 10px;
    margin-top: 50px;

}
.flower img{
    width: 310px;
    height: 428px;
    padding: 20px 10px 0px 15px;
    border-radius: 300px 300px 0px 0px;
    
}

.flower .tulip-bg{
    background: rgba(167, 33, 98, 0.15);
}

.flower .dahlia-bg{
    background: rgba(5, 151, 160, 0.15);
}
.flower .orchid-bg{
    background: rgba(71, 125, 17, 0.15);
}

a{
    margin-left: 110px;
    padding: 5px 20px;

}

/* delivery-part (optional) start*/

.delivery-part{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 80px;
    padding: 30px;
    margin-top: 50px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    
}

.item{
    width: 200px;
    padding: 10px;

}


.item img{
    width: 100px;
    padding: 15px;

}

.item .para{
    width: 283px;
    
}

/* hot deal-section start */
.hotdeal-section{
    display: flex;
    padding: 0 200px;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;
}
.hot-content-left{
    align-items: center;
    justify-content: center;
}

.hotdeal-title{
    color: #272727;
    width: 500px;
    margin-top: 150px;
    font-weight: bold;

}

.hotdeal-title span{
    color: #E55473;
}

.hotdeal-content-right{
    width: 50%;
    margin-bottom: 55px;
}

.hotdeal-content-right img{
    width: 635px
}
.signup{
    margin-left: 144px;
}

/* Instagram section start */

.social-media{
    max-width: 1400px;
    background: #fff;
}

.social-media-title{
    width: 594px;
    color: #272727;
    text-align: center;
    line-height: 30px;
    margin: 0 auto;
    margin-top: 130px;
}

.flowers-photo{
    display: flex;
    justify-content: space-evenly;
    margin: 0 100px;
    margin-top: 50px;

}

.single-flower-rose{
    background-image: url("images/rectanglepic-1.png");
    background-size: cover;
    width: 230px;
    height: 280px;
    padding: 5px;
    
}
.single-flower-white{
    background-image: url("images/rectanglepic-2.png");
    background-size: cover;
    width: 230px;
    height: 280px;
    padding: 5px;
}
.single-flower-caketus{
    background-image: url("images/rectanglepic-3.png");
    background-size: cover;
    width: 230px;
    height: 280px;
    padding: 5px;
}
.single-flower-redrose{
    background-image: url("images/rectanglepic-4.png");
    background-size: cover;
    width: 230px;
    height: 280px;
    padding: 5px;

}
/* Subscribe part start here  */

.subscribe-part{
    max-width:1400px ;
    height: 300px;
    background-image:url("images/bg-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 100px;
    margin-top: 100px;  
    
}

.subscribe-heading{
    position: relative;
    
}
.subscribe-heading h3{
    font-size: 40px;
    text-align: center;
    
}
.subscribe-heading p{
    text-align: center;
    
}

.subscribe-form{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    width: 420px;
    height: 60px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
    
}

.subscribe-form input{
    flex: 1;
    border: none;
    outline: none;
    font-size: 24px;
}

.form-button{
    color: #FFFFFF;
    font-weight: 700;
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: none;   
    outline: none;
    cursor: pointer;
    height: 60px;
    letter-spacing: 1px;
    margin-right: -100px;

}
.form-button:hover{
    background-color: #17b185;
}

/* footer part start here  */
.footer{
    background: #111010;
    max-width: 1400px;
    height: 300px;
    color: #fff;
    text-align: center;
    margin-top: 100px;
    padding-top: 200px;
    
    
}
.flower-color{
    color: #E55473;

}
.copy-right{
    color: rgba(255, 255, 255, 0.40);
    
}