  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0; padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* header section's style */
.header{
    background: rgba(229, 84, 115, 0.10);
   
    
}

.banner-section{
    display: flex;
    padding: 0 200px;
    align-items: center;
    justify-content: center;
    gap: 100px;

}
.banner-content-right{
    width: 50%;
    margin-bottom: -48px;
}
.banner-content-right img{
    width: 635px;
}


.banner-title{
    color: #272727;
    width: 500px;
    margin-top: 150px;
    font-weight: bold;
    
}

.banner-button{
    color: #FFFFFF;
    font-weight: 700;
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    margin-top: 10px;
    margin-bottom: 100px;
    border: none;    

}

/* Featured section start */
.featured{
    max-width: 1400px;
    background: #fff;
}
.feature-title{
    width: 594px;
    color: #272727;
    text-align: center;
    line-height: 30px;
    margin: 0 auto;
    margin-top: 130px;
}

.flowers-name{
    display: flex;
    justify-content: space-evenly;
    margin: 0 50px;
    padding: 10px;
    margin-top: 50px;

}
.flower img{
    width: 310px;
    height: 428px;
    padding: 20px 10px 0px 15px;
    border-radius: 300px 300px 0px 0px;
    
}

.flower .tulip-bg{
    background: rgba(167, 33, 98, 0.15);
}

.flower .dahlia-bg{
    background: rgba(5, 151, 160, 0.15);
}
.flower .orchid-bg{
    background: rgba(71, 125, 17, 0.15);
}

a{
    margin-left: 110px;
    padding: 5px 20px;

}

/* delivery-part (optional) */

.delivery-part{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 80px;
    padding: 30px;
    margin-top: 50px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    
}

.item{
    width: 200px;
    padding: 10px;

}


.item img{
    width: 100px;
    padding: 15px;

}

.item .para{
    width: 283px;
    
}

